language: node_js
branches:
  only:
  - source
node_js:
- '7'
before_install:
- rvm install 2.4.0
before_script:
- npm i -g gulp-cli
- npm install
- gem install bundler
- bundle install
script:
- gulp build-clean  --production
after_success:
- git clone https://$GITHUB_REPO
- git branch
- cd $(basename ${GITHUB_REPO%.git})
- git config user.name "Travis CI"
- git config user.email ${EMAIL}
- rsync -az --delete --exclude '.git*' ../_site/ .
- touch .nojekyll
- git add -A .
- git commit -m "Generated Jekyll site by Travis CI - ${TRAVIS_BUILD_NUMBER}"
- git push --force "https://user:${GH_TOKEN}@${GITHUB_REPO}" HEAD:${REPO_TARGET_BRANCH}
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  - GITHUB_REPO: github.com/vcaldas/vcaldas.github.io
  - REPO_TARGET_BRANCH: master
  - secure: rH8ytzHUxEmqZdjo5xX+eXoU/IR2uYI4yxTl1HJ8xom9TEJj3cOOg3VCNLtO6QN964dslMX7C6plZOKsVTjnVE2TJpZiOfaCAXdQTHZcpDHe2NrwurLru9xiVZ6ONFTuEkl8tSUMhyQNORMmjJ/2YL1DNbqQKnieC0qqkSEJFJ83+vhjS+0iFkZAJCM9Joz539ou7iZ/DTciNqd0ORu1SFoctKP5rHgQTtTgNU37bZ0PTWAFnK54RJ+ZdHjVOxgSRV0dI+ldEuXcicAMeoU2v6kXhrB2QIe9ubnhwX+jiukHnoemL1O3ZuhpHk8tyej+mYNZucIK84OrzNhvjyjE0qCdB2OlbXQkziEy8uR/2v+xozCEA9p8IFilNQAtRwPp8vJqxqAPlMwPdYkxNs9IHNNIlbdhJLpp2WMqUWJPlitI+U4RUmC8NRtZ4hTVrbIITHWAgJGecLsCJxnoLhXrJubZDZs8ODnGGU81d62IhxcRCexWtIKQ0LklKkNYgLydLhkC8pZHeZnSLsWHIfyrnijS/VzCTY664z/Q/mVSJ/bsH6Xs1B4vTm+0sU5q4zQwfjcxMY8Hju1Em8PDwYHiSAsUYKjOZfq7sqBZXBquN7/AEp+fnnGa9ryDn6esQI63VsDb2J5QbBovN7CowHcAGLP3ua8lMzQmbWPYW1QMBGQ=
  - secure: 0PNTqGL3E6+vS1XcnkF8sDEU6J4bd/C6GSIvHQVJPN3xhpt3l31NW/BHB2m52e3ngIU4IvkP1n8TQevQAK1vpRe+q5UMWEqh5Q0R37CbybYCcCKlO3ZeX8T5pSyMiCKkf3diEr9H78qtShydVHKRwKz1B9l3sYTE4Blz0EMEDvKi8aNmm8sbsDpEgGPcp8jGoeLtSK8XB7H7YRH2niNmeReh6a5nMciLrEWnnptDJQ+GTa9toHMPvYL67DmW2xIm4xS10qB0cBxv6hOxfZ01FNJXxwq9XPF7dFbAZLmga8DjlFRY7VnXP6g7jsD78GxIW8foSBa5g18D4LRQBsLECB0wuTsDvkEnb4XflHLJKqyzyvaqu6D5DkkNVRG5rXGJXoq5quSJNO/YerwQ+dkftKo0gr1kpB7mfG67m5+oVcFHRBzQJMYq8bcON9BoiSgVXTHiglcItU1aer0lKobQHw/BEXLqQIkVYOsMpJ5ctk0ZHOrTXokxDX6w8JhPjFLTXsHW36k3fNPhVK5vbFgjLG1RZrFBZt8UXOlv9gqJYcR0ftr1pY+RE3H5CrS8mV35FkYL6Ef+A3NJqn0UNb+NCYJ0uDZZTSF9royHYh6Czk0qCDlq4GtKcNjVBXNI5jJaURjYs69AMrDnmkUm/ns1HkyGR7eYXzdfthJg2GOGuFA=
