
body {
	background: #373737 url('bg-noise.png') top left;   
}


.navbar {
  margin-bottom: 20px;
}

.container {
	background-color: white;
	padding-bottom: 20px;
	
}

/* Sticky footer styles
-------------------------------------------------- */


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  # background-color: #373737;
}


/* Card style
-------------------------------------------------- */

.carousel-inner{
	border-radius: 15px;
	overflow: hidden;
}


/* Navbar
-------------------------------------------------- */

.nav-item{
  padding-right: 20px;
}


/* Icon Info
-----------------------------------------*/
fa-2x {
    font-size: 1.5em;
    padding-left: 0.5rem;
}