
body {
	background: #373737 url('bg-noise.png') top left;   
}


.navbar {
  margin-bottom: 20px;
}

.container {
	background-color: white;
	padding-bottom: 20px;
	
}

/* Sticky footer styles
-------------------------------------------------- */


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  # background-color: #373737;
}


/* Card style
-------------------------------------------------- */

.carousel-inner{
	border-radius: 15px;
	overflow: hidden;
}


/* Navbar
-------------------------------------------------- */

.nav-item{
  padding-right: 20px;
}


/* Icon Info
-----------------------------------------*/
.fa-2x {
    font-size: 1.5em;
    padding-left: 0.5rem;
}


/* Publications page
--------------------------------------------*/
.cv {
    text-align: justify; 
  }




.publication {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin-top: 12px;
  margin-bottom: 30px;
}

.publication a {
  text-decoration: none;
}

.publication .tweet {
  margin-top: 3px;
  font-style: italic;
  color: #444;
  font-size: 10pt;
}

.publication .pubLinks {
  font-size: 9pt;
}

.publication .abstract {
  /*background-color: #F6FCE1;*/ /* prior yellowish tint */
  background-color: #f6f8f8;
  padding: 12px;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;

  margin-top: 10px;
}

.publication .bibtex {
  margin-top: 10px;
}
