<div class="container">
  </div>

  <div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <p class="card-text">
            <strong>Victor E. A. Caldas</strong><br>
            Postoctoral Fellow <br>
            <a href="mailto:v.arminicaldas@vu.nl">v.arminicaldas@vu.nl</a><br>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <ul class="social-media-list">


              {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github" style="color:gray"></i> {{ site.github_username }}
        </a>
      </li>
    {% endif %}


      <li>
        <a href="https://500px.com/victorcaldas">
          <i class="fa fa-500px" style="color:gray"></i> victorcaldas
        </a>
      </li>

      <li>
        <a href="https://linkedin.com/in/vcaldas">
          <i class="fa fa-linkedin-square " style="color:gray"></i> VCaldas
        </a>
      </li>




    </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <dt><i class="card-title fa fa-building"></i> Address:</dt>
        <p class="card-text">
            <strong>Vrije Universiteit</strong><br>
            FALW - Dept. Animal Ecology <br>
            De Boelelaan, 1085 - Office M.152<br>
            1081HV Amsterdam, NH<br>
            The Netherlands
      </div>
    </div>
  </div>
</div>
