<div id="contact" class="container content-section-landing text-center">
  <!-- <h2>Contact</h2> -->


  <div class="row text-left">
    <div class="col-sm-4">
      <div class="card-block">
        <p class="card-text">
          <strong>Victor E. A. Caldas</strong>
          <div class="hline-w"></div>
          Postoctoral Fellow <br>
          <a href="mailto:v.arminicaldas@vu.nl">v.arminicaldas@vu.nl</a><br>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card-block">
        <p class="card-text">
          <i class="fa fa-building"></i> Where to find me
          <div class="hline-w"></div>
          <strong>Vrije Universiteit</strong><br> FALW - Dept. Animal Ecology <br> De Boelelaan, 1085 - Office M.152<br> 1081HV Amsterdam, NH<br> The Netherlands
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card-block">
        <p class="card-text">
          <i class="fa fa-building"></i> Social media
          <div class="hline-w"></div>
          <ul class="social-media-list" style="list-style: none;">

            {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github" style="color:gray"></i> {{ site.github_username }}
              </a>
            </li>
            {% endif %}
            <li>
              <a href="https://500px.com/victorcaldas">
                <i class="fa fa-500px" style="color:gray"></i> victorcaldas
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/in/vcaldas">
                <i class="fa fa-linkedin-square " style="color:gray"></i> VCaldas</a>
            </li>
          </ul>
      </div>
    </div>

  </div>
</div>
