<div class="container">
  <a class="navbar-brand page-scroll" href="/">v/caldas</a>

  <div class="collapse navbar-collapse" id="navbarExample">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/publications">Publications</a>
      </li>
      <li>
        <a class="nav-link active" href="/readme"><i class="fa fa-info-circle " aria-hidden="true"></i></a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#about">About</a>
       </li>
     -->
    </ul>
  </div>
</div>
