
// Variables

$primary: #233f88;
$main: #233237;
$sec: white;
$purple: #54516A;
$cut: 768px;


// Particles particle
$particle-bg: #0b0c10;

// /1e1f26  283655
//navbar
$navbar-bg: #0b0c10;
$footer-bg: #1f2833;
$arrow-intro: #45a29e;
