<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename='js/jquery.js') }}"> </script>
<script src="{{ url_for('static',filename='js/tether.js') }}"> </script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"> </script>
<script src="{{ url_for('static',filename='js/jquery.easing.js') }}"> </script>

<script src="{{ url_for('static',filename='js/grayscale.js') }}"> </script>
<script src="{{ url_for('static',filename='js/particles.js') }}"> </script>
<script src="{{ url_for('static',filename='js/sweet-scroll.js') }}"> </script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"> </script>
<script src="{{ url_for('static',filename='js/particle.js') }}"> </script>
