<!doctype html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="author" content="Victor Caldas">
    <meta name="description" content="Exploring at random"">

    <title>Victor Caldas</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/webfont.js"></script>
    <script src="/static/js/snap.svg-min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/sequence-diagram-min.js"></script>

</head>
<body>
    <nav class="navbar">
      <div class="container">
        <a style="color:white;"><b>V/</b>Caldas</a>
        <div style="float:right;">
          <ul style="list-style:none;display:flex;">
            <a href="{{ url_for("main.main") }}" class="left"><li class="link-list">ABOUT</li></a>
            <!-- <a href="{{ url_for("blog.blog") }}" class="left"><li class="link-list">BLOG</li></a> -->
            <a href="{{ url_for("main.publications") }}" class="left"><li class="link-list">PUBLICATIONS</li></a>

          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-bottom:100px;">
        <br>
        <main id="body-fade">
            {% block content %}
            <p>Default content to be displayed</p>
            {% endblock content %}
        </main>
    </div>
    <nav class="navfoot">
      <div style="text-align:center;">
        &copy; 2022 |
        &thinsp; <a href="https://www.linkedin.com/in/vcaldas" class="link-fa"><i class="fa fa-linkedin fa-lg"></i></a>
        &thinsp; <a href="http://github.com/vcaldas" class="link-fa"><i class="fa fa-github fa-lg"></i></a>
        &thinsp; <a href="https://scholar.google.com/citations?user=vdKIs70AAAAJ&hl=en" class="link-fa"><i class="fa fa-graduation-cap fa-lg"></i></a> |
      </div>
    </nav>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>

</html>
