<!DOCTYPE html>
<html lang="en">
  <head>
    {%include "head.html" %}
  </head>

  <body>
    <div id="particles-js">
      <!-- Navigation -->
      {% include "navbar/navigation.html" %}
      {% include "landing/icon_row.html" %}
      <a class="down" href="#contact" data-scroll>
        <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
      </a>
  </div>
    {% include "landing/contactrow.html" %}

  <div id="footer">
    <footer>
      {% include "footer.html" %}
    </footer>
  </div>
    
    {% include "scripts.html" %}

  </body>
</html>

