<!DOCTYPE html>
<html lang="en">

<head>
  {%include "head.html" %}
  <link href= "{{ url_for('static',filename='font-awesome/css/all.css') }}" rel="stylesheet"> <!--load all styles -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

</head>

<body id="page-top">
  <div id="particles-js">
    <!-- Navigation -->
    {% include "navbar/navigation.html" %}
    <div class="content">
      <h1>
        <span class="site-title">V/Caldas</span>
        <span class="site-description"></span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{config.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Research" href="/publications"><i class="icon fa fa-flask" aria-hidden="true"></i></a>
        <a aria-label="My Vimeo" target="_blank" href="{{config.vimeo}}"><i class="icon fa fa-vimeo"
            aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{config.github}}"><i
            class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
    </div>
    <a class="down" href="#contact" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>


  </div>

  <!-- About Section -->
  {% include "contactrow.html" %}

</body>

<!-- Footer -->
{% include "footer.html" %}

<!-- javascript -->
{% include "scripts.html" %}

</html>