{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="blogpost__article">
        <h1>About</h1>

        <h2>Recipes</h2>
        <p>This website contains my family's favorite recipes, with a focus on <b>Dairy-Free</b> and <b>Soy-Free</b> recipes.</p>
        <p>With different food allergies in our household, we focus on using allergy-friendly ingredients for our recipes.</p>

        <h2>Technology</h2>
        <p>This website is built using <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> (web framework written in <a href="https://www.python.org">Python</a>).</p>
        <p>Flask is typically used for developing dynamic website.  For this website, <a href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a> is used to create the static site.</p>
        <p>The static site is then hosted on <a href="https://www.netlify.com">Netlify</a>.</p>
        <br>
        <p>To learn more about how this website is created and deployed, check out the <this></this> blog post on <a href="https://testdriven.io">TestDriven.io:</a></p>
        <a href="https://testdriven.io/blog/static-site-flask-and-netlify/">Generating a Static Site with Flask and Deploying it to Netlify</a>
        <br>
        <br>
        <p>All of the source code for this website can be found on <a href="https://www.gitlab.com/">GitLab</a>:</p>
        <p><a href="https://gitlab.com/patkennedy79/flask-recipe-app">GitLab - Flask Recipe App</a></p>

        <h2>Contact</h2>
        <p>If you'd like to reach out to me to discuss these recipes or to discuss how this website is created: <a href="mailto:pkennedy@hey.com">pkennedy@hey.com</a></p>
    </div>

</div>
{% endblock %}
