{% extends "blogpost.html" %}

{% block title %}
<h1>Thoughts on Air Fryers After Owning For One Year</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on December 28th, 2020</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/air_fryer.jpg') }}"
  alt="Air Fryer"
  class="blogpost__image" />
{% endblock %}

{% block article %}
<p>After having an air fryer for one year, I can say that I'm really glad to have it.  It's a great kitchen accessory, but I've found that I use it mostly for re-heating food and for making side dishes.</p>
<p>I think air fryers are AMAZING at re-heating leftovers!  Heating up leftovers in an air fryer is sooo much better than using a microwave.  Here are some of my favorite foods to re-heat in the air fryer:</p>
<ul>
    <li>Pizza</li>
    <li>Grilled chicken</li>
    <li>Chicken tenders</li>
    <li>Potato wedges</li>
    <li>French fries</li>
    <li>Sauteed vegetables</li>
</ul>
<p>I also think that cooking frozen french fries and onion rings in the air fryer is great.  They come out even better than putting them in the over.  Plus, there is the advantage of not having to wait to pre-heat an oven!</p>
<p>I've tried making chicken tenders from scratch in the air fryer and they come out... not great.  They are cooked all the way through, but they are not super crunchy like you get with actually frying them.  It's a healthier option, but I prefer eating less of the fried version.</p>
<p>Overall, I definitely recommend getting an air fryer, as it's a product that I use multiple times per week.  I was quite apprehensive about buying an air fryer, as I thought it would be a useless new gadget (like I found the Instant Pot to be).  However, I think it's a great tool to have in the kitchen.</p>
<p>The air fryer that I have is the <a href="https://www.usa.philips.com/c-p/HD9650_96/premium">Philips Air Fryer XXL</a> (non-affiliate link).</p>
{% endblock %}
