{% extends "blogpost.html" %}

{% block title %}
<h1>Why I Love Having Lots of Measuring Cups</h1>
{% endblock %}

{% block date %}
<p class="blogpost__date">Published on January 8th, 2021</p>
{% endblock %}

{% block image %}
<img
  src="{{ url_for('static', filename='img/measuring_cups.jpg') }}"
  alt="Measuring Cups"
  class="blogpost__image" />
{% endblock %}

{% block article %}
<p>I have a collection of measuring cups and I use them almost every day!</p>
<p>I've found that measuring cups are great for lots of things in the kitchen besides measuring, such as:</p>
<ul>
    <li>Use as a small mixing bowl</li>
    <li>Use for scrambling eggs</li>
    <li>Use of melting butter in the microwave</li>
    <li>Use as small bowls when pouring into a stand mixer</li>
</ul>
<p>I have found three sizes of measuring cups to be ideal:</p>
<ul>
    <li>4 Cups (large)</li>
    <li>2 Cups (medium)</li>
    <li>1 Cup (small)</li>
</ul>
<p>The brand of measuring cups that I like is Pyrex.  There is a set of 3 Pyrex measuring cups available for purchase, such as from Target: <a href="https://www.target.com/p/pyrex-measuring-cup-set-3-piece/-/A-17211692?ref=tgt_adv_XS000000&AFID=google_pla_df&fndsrc=tgtao&DFA=71700000012510685&CPNG=PLA_Kitchen%2BShopping&adgroup=SC_Kitchen&LID=700000001170770pgs&LNM=PRODUCT_GROUP&network=g&device=c&location=9031927&targetid=pla-306109337934&ds_rl=1246978&ds_rl=1247068&ds_rl=1248099&gclid=EAIaIQobChMI6ab4nMyy7gIVZyCtBh1QegPBEAQYASABEgItCfD_BwE&gclsrc=aw.ds">Pyrex Measuring Cup Set 3 piece</a> (non-affiliate link).</p>
{% endblock %}
