---
layout: default
---

<div class="row cv">
  <div class="col col-md-8 col-md-offset-1">
    <div class="container publications">
        <h4>Blog area</h4>

        {{content}}

        <ul class="listing">
        {% for post in site.posts %}
          {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
          {% if year != y %}
            {% assign year = y %}
            <li class="listing-seperator">{{ y }}</li>
          {% endif %}
          <li class="listing-item">
            <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>




    </div>
  </div>
  <div class="col col-md-4" style="border-left: 1px solid #eee8d5;"><!-- sidebar -->

    <h4>Widget</h4>

    {% include widget.html %}

    </div>
</div>
