<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

    <div class="container">

      <div class="wrap">
      <header>
        <h1 class="entry-title">{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
      
      </header>
      
          {{ content }}
      </div>
    

      <!-- FOOTER -->
      {% include footer.html %}

      </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       {% include scripts.html %}
  </body>
</html>
