---
layout: default
---

    <div class="row cv">
      <div class="col col-md-8 col-md-offset-1">
        <div class="container publications">
          {{ content }}
        </div>
      </div>
      <div class="col col-md-4" style="border-left: 1px solid #eee8d5;"><!-- sidebar -->

        <h4>Profiles and Metrics</h4>

        <ul class="author__urls social-icons">


           <li><a href="mailto:v.arminicaldas@vu.nl"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> v.arminicaldas@vu.nl</a></li>

           <li><a href="https://orcid.org/0000-0002-4263-0786"><i class="ai ai-orcid" aria-hidden="true"></i> ORCID</a></li>

           <li><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4254688H5"><myicon class="icon"><img alt="Lattes Icon" src="{{base_path}}/img/lattes-fav-icon.png"></myicon> Lattes CV</a></li>

           <li><a href="https://scholar.google.com/citations?user=vdKIs70AAAAJ&hl=en"><i class="ai ai-google-scholar-square" aria-hidden="true"></i>  Google Scholar</a></li>

           <li><a href="https://nl.linkedin.com/in/vcaldas"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>

           <li><a href="https://github.com/vcaldas"><i class="fa fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
           <li><a href="{{base_path}}/cv.pdf"><i class="fa fa-user-circle-o " aria-hidden="true"></i> CV</a></li>

       </ul>

        </div>
    </div>
