{% extends "recipe.html" %}

{% block recipe_title %}
<h1>...</h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>...</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/....jpg') }}"  alt="..." />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>...</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<ul>
    <li>...</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
    <li>...</li>
</ol>
{% endblock %}
