{% extends "recipe.html" %}

{% block recipe_title %}
<h1>Spanish Rice</h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>Spanish rice is a delicious combination of fluffy rice with a tomato finish.  It is one of my favoriate dishes and it goes perfectly with fajitas.</p>
<p>I always thought that the delicious rice that you get at Mexican restaurants was going to be too difficult to make at home.  I was so excited to learn how to make this recipe at home and I make it now at least once a week.</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/spanish_rice.jpg') }}"  alt="Spanish Rice" />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>Mix the pizza sauce and the chicken stock together in a medium bowl or large measuring cup to combine them prior to adding to the rice.</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<ul>
    <li>2 Cups of Long Grain White Rice</li>
    <li>1/3 Cup of Extra-Virgin Olive Oil</li>
    <li>2.5 cups of Chicken Stock</li>
    <li>1 cup of Pizza Sauce (thicker than tomato sauce)</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
    <li>In a dutch oven, pour in the olive oil to cover the entire bottom of the dutch oven</li>
    <li>Heat the dutch oven (with the oil in it) on medium heat for 3 minutes</li>
    <li>Add the rice to the dutch oven and cook for 6 minutes, stirring occasionally to prevent the rice from burn on the bottom of the dutch oven</li>
    <li>Add the Pizza Sauce and the Chicken Stock to the dutch oven; stir to combine with the rice</li>
    <li>Reduce the heat to medium-low</li>
    <li>Cover the dutch over and cook for 20 minutes</li>
    <li>To check if the rice is done, take the cover off of the dutch oven and fluff the rice.  All of the liquid should be absorbed into the rice and the rice should taste soft and fluffy.</li>
    <li>If the rice is not done, cook for longer at 5 minute increments</li>
    <li>Once the rice is done cooking, fluff the rice one last time and turn off the heat</li>
    <li>The rice can be served immediately, but I've found it best to let it continue to cook slightly in the dutch over (with the heat off or away from the stove) for an additional 10 minutes</li>
</ol>
{% endblock %}
